{% extends "_base.html" %}

{% block content %}
<form id = "form" method="POST" enctype="multipart/form-data"> 
  
    <!-- Security token -->
    {% csrf_token %} 
  
    <!-- Using the formset -->
    {{ form.as_p }} 
      
    <input type="submit" id="submitbutton" value="Submit"> 
</form> 
<script>
    $(document).ready(function () {
            $("#form").submit(function () {
                $(".submitbutton").attr("disabled", true);
                return true;
            });
        });
</script>

{% endblock %}